.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputWrapper,
.colorInputWrapper,
.darkInputWrapper,
.darkColorInputWrapper {
  display: flex;
  width: 325px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #FDFFFD;
  gap: 10px;
}

.colorInputWrapper {
  background-color: #F6F6F6;
}

.darkInputWrapper {
  background-color: #333333;
}

.darkColorInputWrapper {
  background-color: #242424;
}

.input,
.colorInput,
.darkInput,
.darkColorInput {
  width: 250px;
  height: 46px;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
  background-color: #FDFFFD;
}

.colorInput {
  background-color: #F6F6F6;
}

.darkColorInput {
  background-color: #242424;
  color: #FFF;
}

.darkInput {
  background-color: #333333;
  color: #FFF;
}

.input::-webkit-input-placeholder,
.colorInput::-webkit-input-placeholder,
.darkColorInput::-webkit-input-placeholder,
.darkInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
}

.darkColorInput::-webkit-input-placeholder,
.darkInput::-webkit-input-placeholder {
  color: #FFF;
}

.input:focus,
.darkInput:focus,
.colorInput:focus,
.darkColorInput:focus {
  outline: none !important;
}

.cityList,
.darkCityList,
.colorCityList,
.darkColorCityList {
  display: flex;
  width: 315px;
  min-height: 46px;
  max-height: 180px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  overflow: auto;
  position: fixed;
  top: 160px;
  background-color: #FDFFFD;
}

.colorCityList {
  background-color: #F6F6F6;
}

.darkColorCityList {
  background-color: #242424;
}

.darkCityList {
  background-color: #333333;
  top: 180px;
}

.closed {
  display: none;
}

.city,
.darkColorCity {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
}

.darkColorCity {
  color: #FFF;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}