.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputWrapper,
.colorInputWrapper {
  display: flex;
  width: 325px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #FDFFFD;
  gap: 10px;
}

.inputWrapper {
  background-color: #FDFFFD;
}

.colorInputWrapper {
  background-color: #F6F6F6;
}

.input,
.colorInput {
  width: 250px;
  height: 46px;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
}

.input {
  background-color: #FDFFFD;
}

.colorInput {
  background-color: #F6F6F6;
}

.input::-webkit-input-placeholder,
.colorInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
}

.input:focus,
.colorInput:focus {
  outline: none !important;
}

.cityList,
.colorCityList {
  display: flex;
  width: 315px;
  min-height: 46px;
  max-height: 180px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  overflow: auto;
  position: fixed;
  top: 190px;
}

.cityList {
  background-color: #FDFFFD;
}

.colorCityList {
  background-color: #F6F6F6;
}

.closed {
  display: none;
}

.city {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}