@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.button {
  display: flex;
  width: 345px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-top: 26px;
}