.wrapperButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}

.or,
.darkOr {
  font-size: 16px;
  font-family: Montserrat;
  margin-top: 80px;
  margin-bottom: 20px;
}

.darkOr {
  color: #FFFFFF;
}