.fieldPhone,
.darkFieldPhone {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.darkFieldPhone {
  background-color: #242424;
}

.invalidFieldPhone,
.darkInvalidFieldPhone {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  border: 1px solid #EB5757;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.darkInvalidFieldPhone {
  background-color: #242424;
}

.inputPhone,
.darkInputPhone {
  width: 257px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: Montserrat;
  background-color: #F6F6F6;
  color: #000;
}

.darkInputPhone {
  background-color: #242424;
  color: #FFFFFF;
}

.inputPhone:focus,
.darkInputPhone:focus {
  outline: none !important;
}

.inputPhone::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  font-family: Montserrat;
}

.darkInputPhone::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 14px;
  font-family: Montserrat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.text,
.darkText {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
}

.darkText {
  color: #FFFFFF;
}

.error {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #EB5757;
}

.area {
  margin-bottom: 0px;
}

.invalidArea {
  margin-bottom: 21px;
}