.stepsWrapper {
  display: flex;
  width: 300px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.stepContainer {
  display: flex;
  width: 41.25px;
  height: 30px;
  align-items: center;
}

.longstepContainer {
  display: flex;
  width: 52.5px;
  height: 30px;
  align-items: center;
}

.step,
.darkStep {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  font-family: Montserrat;
  background-color: #F6F6F6;
}

.darkStep {
  background-color: #242424;
  color: #FFFFFF;
}

.activeStep {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #E3F563;
  font-size: 14px;
  font-family: Montserrat;
}

.connector,
.darkConnector {
  width: 11.25px;
  height: 4px;
  background-color: #F6F6F6;
}

.darkConnector {
  background-color: #242424;
}

.activeConnector {
  width: 11.25px;
  height: 4px;
  background-color: #E3F563;
}