.commentsWrapper,
.darkCommentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 170px;
  width: 414px;
  height: 637px;
  margin: 0 auto;
  overflow-y: auto;
  padding-top: 10px;
  background: repeat url("../../public/backgroundComments.png");
}

.darkCommentsWrapper {
  background: repeat url('../../public/darkBackgroundComments.png');
}

.comment,
.darkComment {
  display: flex;
  width: 345px;
  padding: 10px;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  border-radius: 20px;
  align-items: center;
  background-color: #FDFFFD;
}

.darkComment {
  background-color: #242424;
}

.comment:last-child,
.darkComment:last-child {
  margin-bottom: 30px;
}

.commentHeader {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: 345px;
  height: 48px;
}

.fakeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #DFC5FF;
}

.avatarData,
.darkAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

.darkAvatarData {
  color: #000000;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  object-fit: cover;
}

.wrapperData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.name,
.darkName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.darkName {
  color: #FFFFFF;
}

.time,
.darkTime {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
}

.darkTime {
  color: #FFFFFF;
}

.text,
.darkText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.darkText {
  color: #FFFFFF;
}

.button,
.darkButton {
  display: flex;
  width: 54px;
  height: 48px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin-left: auto;
  background-color: #FDFFFD;
}

.darkButton {
  background-color: #242424;
  color: #FFFFFF;
}