.home,
.darkHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDFFFD;
}

.darkHome {
  background-color: #333333;
}

.wrapper {
  width: 100vw;
  margin-top: 150px;
  margin-bottom: 100px;
}