.avatarWrapper,
.darkAvatarWrapper {
  width: 414px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 109px;
  border: none;
}

.bigAwatarWrapper,
.darkBigAvatarWrapper {
  width: 414px;
  height: 779px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 120px;
  border: none;
}

.avatarWrapper,
.bigAwatarWrapper {
  background: repeat url("../../public/backgroundComments.png");
}

.darkAvatarWrapper,
.darkBigAvatarWrapper {
  background: repeat url('../../public/darkBackgroundComments.png');
}

.avatar,
.darkAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  border-radius: 102px;
  background-color: #DFC5FF;
  margin-top: 1px;
  margin-bottom: 14px;
  border: 10px solid #FDFFFD;
}

.darkAvatar {
  border: 10px solid #333333;
}

.image {
  width: 124px;
  height: 124px;
  border-radius: 102px;
  object-fit: cover;
}

.bigImage {
  width: 345px;
  height: 615px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.bigAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 615px;
  background-color: #DFC5FF;
  border-radius: 20px 20px 0px 0px;
  margin-top: 148px;
  margin-bottom: 14px;
}

.bigAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 900;
  color: #FFF;
  padding-top: 10px;
}

.avatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 600;
  color: #FFF;
  padding-top: 10px;
}