.avatarWrapper {
  width: 414px;
  height: 135px;
  background: repeat url("../../public/backgroundComments.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  z-index: -1;
  border: none;
}

.bigAwatarWrapper {
  width: 414px;
  height: 779px;
  background: repeat url("../../public/backgroundComments.png");
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 120px;
  border: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  border-radius: 102px;
  background-color: #DFC5FF;
  border: 10px solid #FDFFFD;
  margin-top: 1px;
  margin-bottom: 14px;
}

.image {
  width: 124px;
  height: 124px;
  border-radius: 102px;
}

.bigImage {
  width: 345px;
  height: 615px;
  border-radius: 20px 20px 0px 0px;
}

.bigAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 615px;
  background-color: #DFC5FF;
  border-radius: 20px 20px 0px 0px;
  /* border: 10px solid #FDFFFD; */
  margin-top: 148px;
  margin-bottom: 14px;
}

.bigAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 900;
  color: #FFF;
  padding-top: 10px;
}

.avatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 600;
  color: #FFF;
  padding-top: 10px;
}