.wrapper,
.darkWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: repeat url('../../public/backgroundSettings.png');
}

.darkWrapper {
  background: repeat url('../../public/darkBackgroundSettings.png');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 140px;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.darkTitle {
  color: #FFFFFF;
}

.wrap,
.darkWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #FDFFFD;
}

.darkWrap {
  background-color: #333333;
}

.element {
  display: flex;
  width: 345px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.text,
.darkText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.darkText {
  color: #FFFFFF;
}

.line,
.darkLine {
  width: 330px;
  height: 1px;
  margin: 5px auto;
  background-color: #F6F6F6;
}

.darkLine {
  background-color: #242424;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.button,
.blackButton {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: 3px solid #BB83FF;
  border-radius: 50%;
  padding: 0;
  background-color: #FDFFFD;
}

.blackButton {
  background-color: #333333;
}

.curcle {
  display: inline;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #BB83FF;
}

.save {
  display: flex;
  width: 375px;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400; 
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  margin-top: 370px;
}