.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600; 
  background: linear-gradient(101deg, #EFE7E7 0%, #BB83FF 0.01%, #DFC5FF 100%); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}