.wrapper,
.darkWrapper {
  display: flex;
  width: 345px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
  border-radius: 20px;
}

.wrapper {
  background-color: #F6F6F6;
}

.darkWrapper {
  background-color: #242424;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 345px;
  gap: 10px;
}

.headerData {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.name,
.darkName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600; 
}

.darkName {
  color: #FFFFFF;
}

.date,
.darkDate {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400; 
}

.darkDate {
  color: #FFFFFF;
}

.gradeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.text,
.darkText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400; 
}

.darkText {
  color: #FFFFFF;
}

.fakeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #DFC5FF;
}

.avatarData,
.darkAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.avatarData {
  color: #FFFFFF;
}

.darkAvatarData {
  color: #333333;
}