.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.darkWrapper {
  background-color: #333333;
}

.search {
  margin-top: -10px;
  height: 168px;
}

.subscriptionsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}