.container,
.darkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.darkContainer {
  background-color: #333333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
}

.card,
.darkCard {
  display: flex;
  width: 345px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  justify-content: space-between;
  align-items: center; 
  border-radius: 10px;
}

.card {
  background-color: #F6F6F6;
}

.darkCard {
  background-color: #242424;
}

.dataWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text,
.darkText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400; 
}

.darkText {
  color: #FFF;
}

.iconButton, 
.darkIconButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
}

.iconButton {
  background-color: #F6F6F6;
}

.darkIconButton {
  background-color: #242424;
}

.wrapperButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 372px;
  justify-content: center;
  gap: 10px;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600; 
  margin-right: auto;
}

.darkTitle {
  color: #FFF;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button,
.activeButton,
.darkButton {
  display: flex;
  width: 89.3px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400; 
}

.button {
  background-color: #F6F6F6;
}

.activeButton {
  background-color: #DFC5FF;
}

.darkButton {
  background-color: #242424;
  color: #FFF;
}

.priceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.priceCard,
.darkPriceCard {
  display: flex;
  justify-content: flex-start;
  width: 163.5px;
  height: 48px;
  align-items: center;
  gap: 10px; 
  padding-left: 20px;
  border-radius: 10px;
}

.priceCard {
  background-color: #F6F6F6;
}

.darkPriceCard {
  background-color: #242424;
}

.titlePrice {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400; 
  color: #AAAAAA;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #BB83FF;
}

.line {
  width: 325px;
  height: 5px;
  background-color: #DFC5FF;
}

.buttonOk {
  display: flex;
  width: 375px;
  height: 48px;
  /* padding: 0px 138px; */
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  font-size: 16px;
  font-family: Montserrat;
  margin-top: 80px;
  justify-self: center;
}