.headerWrapper,
.darkHeaderWrapper {
  display: flex;
  align-items: flex-end;
  width: 414px;
  height: 119px;
  position: fixed;
  top: -0px;
  background-color: #FFF;
}

.darkHeaderWrapper {
  background-color: #333333;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 414px;
  height: 60px;
  padding: 0 24px;

}

.iconButton,
.darkIconButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.darkIconButton {
  background-color: #333333;
}

.wrapperButtons {
  display: flex;
  gap: 5px;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}

.darkTitle {
  color: #FFF;
}

.button,
.darkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #FFF;
}

.darkButton {
  background-color: #333333;
}