.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  width: 414px;
  height: 896px;
  align-items: center;
  background: repeat url('../../../../../public/backgroundComments.png');
}

.darkWrapper {
  background: repeat url('../../../../../public/darkBackgroundComments.png');
}

.button {
  display: flex;
  width: 345px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  margin-bottom: 115px;
  margin-top: auto;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}