.flexBox,
.darkFlexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 181px;
  height: 715px;
}

.darkFlexBox {
  background-color: #333333;
}

.title,
.darkTitle {
  font-size: 24px;
  font-family: 'Montserrat';
  margin-top: 18px;
  margin-bottom: 60px;
  font-weight: 900;
}

.question,
.darkQuestion {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-bottom: 40px;
}

.button {
  display: flex;
  width: 345px;
  height: 48px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  background: var(--button, #E3F563);
  color: #000;
  font-size: 16px;
  font-family: Montserrat;
}

.string–°ontainer {
  display: flex;
  margin-top: 80px;
  column-gap: 10px;
}

.question2,
.darkQuestion2 {
  font-size: 16px;
  font-family: Montserrat;
}

.link {
  color: #BB83FF;
  font-size: 16px;
  font-family: Montserrat;
}

.title,
.question {
  color: #000;
}

.darkTitle,
.darkQuestion,
.darkQuestion2 {
  color: #FFFFFF;
}