.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  width: 414px;
  height: auto;
  margin-top: -15px;
  overflow-y: hidden;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 10px;
  background-color: white;
}

.darkWrapper {
  background-color: #333333;
}

.line {
  width: 414px;
  height: 9px;
  position: fixed;
  background-color: white;
  top: 245px;
}

.swiper {
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background-color: #AAA;
  margin-bottom: 12px;
}

.name,
.darkName {
  display: flex;
  width: 345px;
  height: 28px;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.darkName {
  color: #FFFFFF;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 365px;
  height: auto;
  margin-top: 10px;
  gap: 20px;
  margin-bottom: 80px;
}

.dataWrapper::-webkit-scrollbar {
  width: 0;
}

.city {
  display: flex;
  width: 345px;
  height: 24px;
  align-items: center;
  gap: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #AAAAAA;
}

.wrapperCategoriesOrMood {
  display: flex;
  width: 365px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.categoriesOrMood,
.darkCategoriesOrMood {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.darkCategoriesOrMood {
  color: #FFFFFF;
}

.wrapperButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  width: 365px;
  min-height: 43px;
}

.card {
  display: flex;
  height: 11px;
  padding: 16px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #DFC5FF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.wrap,
.darkWrap {
  display: flex;
  width: 350px;
  height: 48px;
  padding: 0px 8px 0px 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.darkWrap {
  background-color: #242424;
}

.area {
  display: flex;
  align-items: center;
}

.type,
.darkType {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.darkType {
  color: #FFFFFF;
}

.quantityWrapper {
  display: flex;
  align-items: center;
}

.quantity {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #AAA;
}

.button {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;  
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

.areaData {
  display: flex;
  flex-direction: column;
}

.wrapperData,
.darkWrapperData {
  display: flex;
  width: 365px;
  height: 30px;
  padding: 9px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F6F6F6;
}

.darkWrapperData {
  border-bottom: 1px solid #242424;
}

.wrapperData:last-child,
.darkWrapperData:last-child {
  border: none;
}

.dataType,
.darkDataType {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.darkDataType {
  color: #FFFFFF;
}

.data,
.darkData,
.specialData {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.specialData {
  font-weight: 600;
  color: #BB83FF;
}

.darkData {
  color: #FFFFFF;
}

.nameWrapper {
  display: flex;
  width: 365px;
  justify-content: space-between;
  align-items: center;
}

.iconButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
}

.sendMessage,
.disableSendMessage {
  display: flex;
  width: 307px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  border: none;
  border-radius: 10px;
}

.sendMessage {
  background-color: #E3F563;
}

.disableSendMessage {
  background-color: #F6F6F6;
}

.titleButton {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400; 
}

.activeModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 650px;
}

.modal {
  display: none;
}

.unfriendButton {
  display: flex;
  width: 345px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #EB5757;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600; 
  color: #FFFFFF;
}

.cancelButton {
  display: flex;
  width: 345px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600; 
}

.activeAlert {
  display: flex;
  width: 112px;
  padding: 10px;
  align-items: center; 
  margin-left: auto;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: black;
  border-radius: 20px 10px 20px 20px; 
  background-color: #DFC5FF;
}

.alert {
  display: none;
}
