.chatWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 345px;
}

.chatWrapper::-webkit-scrollbar {
  width: 0;
}

.chat {
  display: flex;
  width: 345px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px; 
  border: none;
  background-color: transparent;
}

.avatar {
  width: 48px;
  height: 48px; 
  border-radius: 100px;
  margin-left: -4px;
  object-fit: cover;
}

.fakeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #DFC5FF;
}

.avatarData,
.darkAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.avatarData {
  color: #FFFFFF;
}

.darkAvatarData {
  color: #333333;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  width: 287px;
}

.data {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
}

.timeWrapper {
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; 
}

.name,
.darkName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600; 
}

.message,
.darkMessage {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400; 
}

.time,
.darkTime {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400; 
}

.darkName,
.darkMessage,
.darkTime {
  color: #FFFFFF;
}

.newMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #E3F563;
  width: 25px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400; 
}

.line,
.darkLine {
  width: 305px;
  height: 1px; 
  margin: 5px auto;
}

.line {
  background-color: #F6F6F6;
}

.darkLine {
  background-color: #242424;
}

.mute {
  display: flex;
  width: 68px;
  height: 48px;
  padding: 4px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 4px;  */
  border: none;
  border-radius: 5px;
  background-color: #DFC5FF;
}

.delete {
  display: flex;
  width: 68px;
  height: 48px;
  padding: 4px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 4px;  */
  border: none;
  border-radius: 5px;
  background-color: #EB5757;
  margin-right: 125px;
}

.muteText {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400; 
}

.deleteText {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400; 
  color: #FFFFFF;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}