.historyWrapper,
.darkHistoryWrapper {
  width: 350px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 10px;
  margin-top: 20px;
  padding-top: 7px;
  margin: 20px auto 0px auto;
  scrollbar-width: none;
}

.darkHistoryWrapper {
  background-color: #333333;
}

.historyWrapper::-webkit-scrollbar,
.darkHistoryWrapper::-webkit-scrollbar {
  width: 0;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 95px;
  height: 120px;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 78px;
  background-image: linear-gradient(
    rgba(187, 131, 255, 1),
    rgba(187, 131, 255, 1),
    rgba(227, 245, 99, 1),
    rgba(227, 245, 99, 1),
    rgba(227, 245, 99, 1)
  );
  rotate: 205deg;
}

.imageHistory,
.darkImageHistory {
  border-radius: 50px;
  rotate: -205deg;
  border: 3px solid white;
}

.darkImageHistory {
  border: 3px solid #333333;
}

.title,
.darkTitle {
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
}

.darkTitle {
  color: #fff;
}