.activeWrapper,
.darkActiveWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  position: fixed;
  top: 388px;
  background-color: #F6F6F6;
}

.darkActiveWrapper {
  background-color: #242424;
}

.wrapper {
  display: none;
}

.element,
.darkElement {
  display: flex;
  width: 179px;
  height: 48px;
  padding: 0px 16px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400; 
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #AAAAAA;
  white-space: nowrap;
}

.darkElement {
  border-bottom: 1px solid #333333;
  color: #FFFFFF;
}

.element:last-child,
.darkElement:last-child {
  border: none;
}