.header {
  position: fixed;
  right: 415px;
}

.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.darkWrapper {
  background-color: #333333;
}

.title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.icon {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
}

.chatsList {
  padding-bottom: 100px;
}