.headerWrapper,
.darkHeaderWrapper {
  display: flex;
  align-items: flex-end;
  width: 415px;
  height: 119px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #FFF;
}

.darkHeaderWrapper {
  background-color: #333333;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 414px;
  height: 60px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  width: 260px;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.darkTitle {
  color: #FFF;
}

.iconButton,
.darkIconButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 28px;
  background-color: white;
}

.darkIconButton {
  background-color: #333333;
}