.wrapper,
.darkWrapper {
  width: 414px;
  height: 896px;
  overflow: hidden;
  background: repeat url('../../../../public/backgroundSettings.png');
}

.darkWrapper {
  background: repeat url('../../../../public/darkBackgroundSettings.png');
}

.area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 345px;
  height: 568px;
  margin: 30px auto; 
  margin-top: 140px;
}

.wrapperSetting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.darkTitle {
  color: #FFFFFF;
}

.buttonsArea {
  display: flex;
  width: 345px;
  height: 48px;
  gap: 5px;
}

.button,
.darkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 48px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  background-color: #FDFFFD;
}

.darkButton {
  background-color: #333333;
  color: #FFFFFF;
}

.activeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  width: 170px;
  height: 48px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
}

.notificationsWrapper,
.darkNotificationsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  height: 146px;
  border-radius: 10px;
  background-color: #FDFFFD;
}

.darkNotificationsWrapper {
  background-color: #333333;
}

.notification {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center; 
}

.line,
.darkLine {
  width: 305px;
  height: 1px; 
  background-color: #F6F6F6;
}

.darkLine {
  background-color: #242424;
}

.text,
.darkText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.darkText {
  color: #FFFFFF;
}

.checkbox,
.darkCheckBox {
  display: flex;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 25px;
  justify-content: flex-start;
  align-items: center;
  background-color: #E9E9EB;
}

.darkCheckBox {
  background-color: #242424;
}

.activeCheckBox {
  display: flex;
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 25px;
  justify-content: flex-end;
  align-items: center;
  background-color: #BB83FF;
}
 
.curcle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 0 -1px;
}

.locationWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 345px;
  height: 194px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.setWrap,
.darkSetWrap {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px; 
  border-radius: 10px;
}

.wrapSet,
.darkWrapSet {
  display: flex;
  width: 317px;
  height: 48px;
  padding-left: 20px;
  padding-right: 8px;
  align-items: center;
  border-radius: 10px;
}

.setWrap,
.wrapSet {
  background-color: #FDFFFD;
}

.darkSetWrap,
.darkWrapSet {
  background-color: #333333;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 245px;
}

.share {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #AAA;
  margin-left: 4px;
}

.iconButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  background-color: transparent;
  margin-left: 52px;
}