.modal,
.darkModal {
  display: flex;
  width: 370px;
  height: 677px;
  padding: 10px 24px 0px 24px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 15px 15px 0px 0px;
  position: fixed;
  top: 210px;
  z-index: 100000;
  background-color: #FDFFFD;
}

.darkModal {
  background-color: #333333;
}

.wrapper {
  width: 414px;
  height: 896px;
  position: fixed;
  top: 0px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.50);
}

.header {
  display: flex;
  width: 345px;
  height: 48px;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.darkTitle {
  color: #fff;
}

.inputWrapper,
.darkInputWrapper {
  display: flex;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.inputWrapper,
.input {
  background-color: #F6F6F6;
}

.darkInputWrapper,
.darkInput {
  background-color: #242424;
}

.darkInput,
.darkInput::-webkit-input-placeholder {
  color: #FFF;
}

.input,
.input::-webkit-input-placeholder {
  color: #000;
}

.input,
.darkInput {
  width: 265px;
  height: 44px;
  border: none;
  font-size: 14px;
  font-family: Montserrat;
}

.input::-webkit-input-placeholder,
.darkInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
}

.input:focus,
.darkInput:focus {
  outline: none !important;
}

.line,
.darkLine {
  width: 305px;
  height: 1px;
  margin: 5px auto;
  background-color: #F6F6F6;
}

.darkLine {
  background-color: #242424;
}

.chat {
  display: flex;
  width: 330px;
  justify-content: space-between;
  align-self: center;
  padding-left: 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  margin-left: -4px;
  object-fit: cover;
}

.fakeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #DFC5FF;
}

.avatarData,
.darkAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

.darkAvatarData {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name,
.darkName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.darkName {
  color: #fff;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.button,
.darkButton {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: 3px solid #BB83FF;
  border-radius: 50%;
  padding: 0;
  background-color: #FDFFFD;
}

.darkButton {
  background-color: #333333;
}

.curcle {
  display: inline;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #BB83FF;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  top: 800px;
}

.fakeButton {
  width: 48px;
  height: 48px;
  background-color: transparent;
}