.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.darkWrapper {
  background-color: #333333;
}

.header {
  display: flex;
  width: 393px;
  height: 60px;
  padding: 10px;
  margin-top: 59px;
}

.buttonBack {
  justify-content: flex-start;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  margin-left: 24px;
  margin-right: 99px;
  align-self: center;
}

.title,
.darkTitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}

.darkTitle {
  color: #FFFFFF;
}