.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.darkWrapper {
  background-color: #333333;
}

.header,
.darkHeader {
  display: flex;
  width: 393px;
  height: 60px;
  padding: 10px;
  margin-top: 59px;
}

.darkHeader {
  background-color: #333333;
}

.buttonBack {
  justify-content: flex-start;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  margin-left: 24px;
  margin-right: 99px;
  align-self: center;
}

.title,
.darkTitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}

.darkTitle {
  color: #FFFFFF;
}

.signupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepsWrapper {
  display: flex;
  width: 300px;
  height: 30px;
  margin-top: 8px;
}

.stepContainer {
  display: flex;
  width: 41.25px;
  height: 30px;
  align-items: center;
}

.longstepContainer {
  display: flex;
  width: 52.5px;
  height: 30px;
  align-items: center;
}

.step {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #F6F6F6;
  font-size: 14px;
  font-family: Montserrat;
}

.connector {
  width: 11.25px;
  height: 4px;
  background-color: #F6F6F6;
}

.wrapperButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.or {
  font-size: 16px;
  font-family: Montserrat;
  margin-top: 80px;
  margin-bottom: 20px;
}