.header {
  width: 414px;
  height: 60px;
  display: flex;
  padding: 0px 24px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: fixed;
  top: 110px;
}

.avatarWrapper {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
}

.avatar {
  border-radius: 10px;
}

.wrapper {
  display: flex;
  width: 287px;
  height: 60px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding-top: 4px;
}

.userName,
.darkUserName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}


.title,
.darkTitle {
  display: flex;
  align-items: center;
  height: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.darkUserName,
.darkTitle {
  color: #fff;
}