.calendar,
.colorCalendar {
  display: flex;
  width: 345px;
  height: 430px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  z-index: 1000;
  position: fixed;
}

.calendar {
  background-color: #F6F6F6;
  left: 35px;
  top: 230px;
}

.colorCalendar {
  background-color: #DFC5FF;
  left: 35px;
  top: 120px;
}

.closedCalendar {
  display: none;
}

.header {
  display: flex;
  width: 345px;
  align-items: center;
  justify-content: space-between;
}

.monthWrapper {
  display: flex;
  align-items: center;
}

.month {
  font-family: 'Montserrat';
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}

.notActiveMonth {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #AAAAAA;
}

.yearWrapper {
  display: flex;
  align-items: center;
}

.year {
  font-family: 'Montserrat';
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}

.notActiveYear {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #AAAAAA;
}

.button,
.colorButton {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F6F6F6;
  border: none;
  border-radius: 20px;
}

.button {
  background-color: #F6F6F6;
}

.colorButton {
  background-color: #DFC5FF;
}

.backButton,
.colorBackButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 20px;
}

.backButton {
  background-color: #F6F6F6;
}

.colorBackButton {
  background-color: #DFC5FF;
}

.notActiveButton {
  visibility: hidden;
  width: 48px;
  height: 48px;
}

.wrapper {
  width: 310px;
  height: 305px;
  display: flex;
  padding: 0px 12px 4px 12px;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.weekdays {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  font-family: Montserrat;
  gap: 5px;
}

.weekday {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarEntries {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendarEntry,
.colorCalendarEntry {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
}

.calendarEntry {
  background-color: #F6F6F6;
}

.colorCalendarEntry {
  background-color: #DFC5FF;
}

.calendarEntry:focus,
.colorCalendarEntry:focus {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
}

.calendarEntry:focus {
  background-color: #DFC5FF;
}

.colorCalendarEntry:focus {
  background-color: #E3F563;
}

.day {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 14px;
  font-family: 'Montserrat';
}

.day:focus,
.colorDay:focus {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 14px;
  font-family: 'Montserrat';
  border-radius: 50%;
}

.day:focus {
  background-color: #DFC5FF;
}

.colorDay:focus {
  background-color: #E3F563;
}

.today
.colorToday {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat';
}

.today {
  border: 1px solid #DFC5FF;
  border-radius: 50%;
}

.colorToday {
  background-color: #F6F6F6;
  border-radius: 50%;
  font-size: 14px;
  font-family: 'Montserrat';
}

.buttonsWraper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 10px;
}

.cancel,
.colorCancel {
  display: flex;
  height: 48px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Montserrat';
}

.cancel {
  background-color: #F6F6F6;
}

.colorCancel {
  background-color: #DFC5FF;
}

.ok {
  display: flex;
  height: 48px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
  font-size: 16px;
  font-family: 'Montserrat';
}

.monthList,
.colorMonthList {
  display: flex;
  flex-direction: column;
  position: fixed;
  border-top: 1px solid #AAAAAA;
  width: 343px;
  height: 383px;
  top: 275px;
  left: 36px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 16px;
  font-family: 'Montserrat';
  overflow-y: scroll;
}

.monthList {
  background-color: #F6F6F6;
}

.colorMonthList {
  background-color: #DFC5FF;
}

.yearList,
.colorYearList {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #F6F6F6;
  border-top: 1px solid #AAAAAA;
  width: 343px;
  height: 383px;
  top: 275px;
  left: 36px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: scroll;
}

.yearList {
  background-color: #F6F6F6;
}

.colorYearList {
  background-color: #DFC5FF;
}

.buttonDown,
.colorButtonDown {
  border: none;
  width: 0px;
  margin-right: 20px;
}

.buttonDown {
  background-color: #F6F6F6;
}

.colorButtonDown {
  background-color: #DFC5FF;
}

.notActiveButtonDown {
  visibility: hidden;
  margin-right: -8.5px;
}

.monthOption {
  display: flex;
  width: 263px;
  height: 18px;
  padding: 9.5px 20px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
}

.circle,
.colorCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.circle {
  background-color: #BB83FF;
}

.colorCircle {
  background-color: #E3F563;
}

.notActiveCircle {
  display: none;
}

.option {
  padding-left: 35px;
}

.notActiveOption {
  padding-left: 0;
}

.yearOption {
  display: flex;
  width: 263px;
  height: 18px;
  padding: 9.5px 20px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
}