.footerWrapper {
  display: flex;
  width: 405px;
  height: 94px;
  padding: 5px 5px 0px 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
  border-radius: 15px 15px 0px 0px; 
  background-color: #FDFFFD;
  position: fixed;
  top: 800px;
}

.plus {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #FDFFFD;
}

.inputWrapper {
  display: flex;
  width: 265px;
  height: 48px;
  padding: 0px 16px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.wrapper {
  display: flex;
  gap: 5px;
}

.send {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
}

.input {
  width: 305px;
  height: 44px;
  border: none;
  background-color: #F6F6F6;
  font-size: 14px;
  font-weight: 400;
  font-family: Montserrat;
  color: #969BAB;
}

.input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400; 
  color: #969BAB;
}

.input:focus {
  outline: none !important;
}