.area,
.darkArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 119px;
}

.darkArea {
  background-color: #333333;
}

.avatarWrapper,
.darkAvatarWrapper {
  width: 414px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  border: none;
}

.bigAwatarWrapper,
.darkBigAwatarWrapper {
  width: 414px;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: none;
}

.avatarWrapper,
.bigAwatarWrapper {
  background: repeat url("../../../../public/backgroundComments.png");
}

.darkAvatarWrapper,
.darkBigAwatarWrapper {
  background: repeat url('../../../../public/darkBackgroundComments.png');
}

.avatar,
.darkAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  border-radius: 102px;
  background-color: #DFC5FF;
  margin-top: 1px;
  margin-bottom: 14px;
  border: 10px solid #FDFFFD;
}

.darkAvatar {
  border: 10px solid #333333;
}

.image {
  width: 124px;
  height: 124px;
  border-radius: 102px;
  object-fit: cover;
}

.bigImage {
  width: 345px;
  height: 615px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.bigAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 600px;
  background-color: #DFC5FF;
  border-radius: 20px 20px 0px 0px;
  margin-top: 20px;
  margin-bottom: 14px;
}

.bigAvatarData,
.darkBigAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 900;
  padding-top: 10px;
}

.avatarData,
.darkAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 600;
  color: #FFF;
  padding-top: 10px;
}

.bigAvatarData,
.avatarData {
  color: #FFF;
}

.darkBigAvatarData,
.darkAvatarData {
  color: #333333;
}

.wrapper,
.darkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  width: 414px;
  height: 600px;
  margin-top: -8px;
  overflow-y: hidden;
  border-radius: 15px 15px 0px 0px;
  gap: 20px;
  background-color: white;
}

.darkWrapper {
  background-color: #333333;
}

.swiper {
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background-color: #AAA;
}

.name,
.darkName {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600; 
  display: flex;
  width: 345px;
  height: 28px;
  justify-content: center;
  align-items: center; 
}

.darkName {
  color: #FFF;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.activeIconButton {
  display: flex;
  width: 65px;
  height: 59px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
}

.iconButton,
.darkIconButton {
  display: flex;
  width: 65px;
  height: 59px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.darkIconButton {
  background-color: #242424;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.darkTitle {
  color: #FFF;
}

.wrapperData,
.darkWrapperData {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px; 
  background-color: #F6F6F6;
}

.darkWrapperData {
  background-color: #242424;
}

.dataType,
.specialData,
.darkDataType {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.specialData {
  font-weight: 600;
  color: #BB83FF;
}

.darkDataType {
  color: #FFF;
}

.button,
.darkButton {
  display: flex;
  width: 65px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.darkButton {
  background-color: #242424;
}

.activeButton {
  display: flex;
  width: 65px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
}

.loading,
.darkLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.darkLoading {
  background-color: #333333;
}