.chat {
  display: flex;
  width: 345px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  object-fit: cover;
}

.fakeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #DFC5FF;
}

.avatarData,
.darkAvatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

.darkAvatarData {
  color: #333333;
}

.dataWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
}

.name,
.darkName {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.darkName {
  color: #FFFFFF;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phoneButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

.chatButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #DFC5FF;
}

.line,
.darkLine {
  width: 305px;
  height: 1px;
  margin: 5px auto;
  background-color: #F6F6F6;
}

.darkLine {
  background-color: #242424;
}