.chat {
  display: flex;
  width: 345px;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
}

.avatar {
  width: 48px;
  height: 48px; 
  border-radius: 100px;
  object-fit: cover;
}

.fakeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: #DFC5FF;
}

.avatarData {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}

.dataWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #FFFFFF;
}

.name {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.phoneButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.chatButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center; 
  border: none;
  border-radius: 10px;
  background-color: #DFC5FF;
}

.line {
  width: 305px;
  height: 1px; 
  background-color: #F6F6F6;
  margin: 5px auto;
}