.footer,
.darkFooter {
  display: flex;
  width: 405px;
  height: 94px;
  padding: 10px 5px 0px 5px;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  top: 796px;
  border-radius: 15px 15px 0px 0px;
}

.footer {
  background-color: white;
}

.darkFooter {
  background-color: #333333;
}

.button,
.darkButton {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
}

.button {
  background-color: white;
}

.darkButton {
  background-color: #333333;
}

.inputWrapper,
.darkInputWrapper {
  display: flex;
  width: 245px;
  height: 48px;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.inputWrapper {
  background-color: #F6F6F6;
}

.darkInputWrapper {
  background-color: #242424;
}

.input::-webkit-input-placeholder,
.darkInput::-webkit-input-placeholder {
  color: #969BAB;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.input,
.darkInput {
  border: none;
  width: 240px;
  height: 24px;
  color: #969BAB;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.input {
  background-color: #F6F6F6;
}

.darkInput {
  background-color: #242424;
}

.input:focus,
.darkInput:focus {
  outline: none !important;
}

.send {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #E3F563;
}