.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 280px;
}

.text,
.darkText {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
}

.darkText {
  color: #FFFFFF;
}

.inputWrapper,
.darkInputWrapper {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.darkInputWrapper {
  background-color: #242424;
}

.invalidInputWrapper,
.darkInvalidInputWrapper {
  display: flex;
  width: 303px;
  height: 46px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  background-color: #F6F6F6;
  border: 1px solid #EB5757;
  border-radius: 10px;
}

.darkInvalidInputWrapper {
  background-color: #242424;
}

.nameInput,
.darkNameInput {
  width: 305px;
  height: 44px;
  border: none;
  background-color: #F6F6F6;
  font-size: 14px;
  font-family: Montserrat;
  color: #000;
}

.darkNameInput {
  background-color: #242424;
  color: #FFFFFF;
}

.nameInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  color: #000;
}

.nameInput:focus,
.darkNameInput:focus {
  outline: none !important;
}

.calendarInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  color: #000;
}

.calendarWrapper,
.darkCalendarWrapper {
  display: flex;
  width: 317px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.darkCalendarWrapper {
  background-color: #242424;
}

.calendarInput,
.darkCalendarInput {
  width: 110px;
  height: 24px;
  background-color: #F6F6F6;
  border: none;
  margin-left: 10px;
  font-size: 14px;
  font-family: Montserrat;
  color: #000;
}

.darkCalendarInput {
  background-color: #242424;
  color: #FFFFFF;
}

.calendarInput:focus,
.darkCalendarInput:focus {
  outline: none !important;
}

.darkNameInput::-webkit-input-placeholder,
.darkCalendarInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  color: #FFFFFF;
}

.calendarButton {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.buttonsWraper {
  display: flex;
  gap: 3px;
}

.button,
.darkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Montserrat;
  width: 111px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #F6F6F6;
}

.darkButton {
  background-color: #242424;
  color: #FFFFFF;
}

.buttonActive {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Montserrat;
  width: 111px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #DFC5FF;
}

.error {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #EB5757;
  margin-right: auto;
  gap: 0px;
  margin-top: -16px;
  margin-bottom: -16px;
}