.header,
.darkHeader {
  display: flex;
  padding: 10px;
  height: 200px;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.darkHeader {
  background-color: #333333;
}

.buttonBack,
.darkButtonBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: none;
  margin-left: 24px;
  margin-right: 82.5px;
  align-self: center;
  background-color: #fff;
}

.darkButtonBack {
  background-color: #333333;
}

.title,
.darkTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}

.darkTitle {
  color: #fff;
}

.wrapper {
  display: flex;
  width: 414px;
  position: fixed;
  top: 60px;
}