.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  height: 486px;
  margin: 74px 24px 77px 35px;
  gap: 20px;
}

.fieldPhone,
.darkFieldPhone {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.invalidFieldPhone,
.darkInpvalidFieldPhone {
  display: flex;
  width: 305px;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  border: 1px solid #EB5757;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.darkInpvalidFieldPhone {
  background-color: #242424;
}

.invalidFieldPassword,
.darkInvalidFieldPassword {
  display: flex;
  width: 317px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  align-items: center;
  border: 1px solid #EB5757;
  border-radius: 10px;
  background-color: #F6F6F6;
  gap: 10px;
}

.darkInvalidFieldPassword {
  background-color: #242424;
}

.fieldPassvord,
.darkFieldPassword {
  display: flex;
  width: 317px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  background-color: #F6F6F6;
}

.darkFieldPhone,
.darkFieldPassword {
  background-color: #242424;
}

.inputPhone,
.darkInputPhone {
  width: 257px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: Montserrat;
  background-color: #F6F6F6;
  color: #000;
}

.darkInputPhone,
.darkInputPassword {
  background-color: #242424;
  color: #FFFFFF;
}

.inputPassword,
.darkInputPassword {
  width: 257px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: Montserrat;
}

.inputPassword:focus,
.inputPhone:focus,
.darkInputPhone:focus,
.darkInputPassword:focus {
  outline: none !important;
}

.inputPassword::-webkit-input-placeholder,
.inputPhone::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  font-family: Montserrat;
}

.buttonEye {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
}

.checkboxArea {
  display: flex;
  align-self: flex-end;
  align-items: center;
  width: 171px;
  height: 48px;
}

.checkboxWrapper {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: none;
  border: 5px solid #BB83FF;
  border-radius: 15px;
  border-color: #BB83FF;
  border-width: 3px;
  background-color: transparent;
}

.activeCheckbox {
  width: 20px;
  height: 20px;
  border: none;
  border: 5px solid #BB83FF;
  border-radius: 15px;
  border-color: #BB83FF;
  border-width: 3px;
  background-color: #BB83FF;
}

.text,
.darkText {
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
  color: #000;
}

.darkText {
  color: #FFFFFF;
}

.button {
  display: flex;
  width: 345px;
  height: 48px;
  padding: 0px 138px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background-color: #E3F563;
  font-size: 16px;
  font-family: Montserrat;
}

.or,
.darkOr {
  font-size: 14px;
  font-family: Montserrat;
  margin-top: 60px;
}

.darkOr {
  color: #FFFFFF;
}


.linkWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 90px;
}

.question,
.darkQuestion {
  font-size: 16px;
  font-family: Montserrat;
}

.darkQuestion {
  color: #FFFFFF;
}

.link {
  font-size: 16px;
  font-family: Montserrat;
  color: #BB83FF;
}

.error {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  color: #EB5757;
  margin-right: auto;
  margin-top: -16px;
  margin-bottom: -16px;
}