.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputWrapper,
.darkInputWrapper {
  display: flex;
  width: 325px;
  height: 48px;
  padding: 0px 8px 0px 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #F6F6F6;
  gap: 10px;
}

.darkInputWrapper {
  background-color: #242424;
}

.input,
.darkInput {
  width: 250px;
  height: 46px;
  border: none;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
}

.darkInput {
  background-color: #242424;
  color: #FFFFFF;
}

.input::-webkit-input-placeholder,
.darkInput::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
}

.darkInput::-webkit-input-placeholder {
  color: #FFFFFF;
}

.input:focus,
.darkInput:focus {
  outline: none !important;
}

.cityList,
.darkCityList {
  display: flex;
  width: 315px;
  min-height: 46px;
  max-height: 180px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #F6F6F6;
  overflow: auto;
  position: fixed;
  top: 410px;
}

.darkCityList {
  background-color: #242424;
}

.closed {
  display: none;
}

.city,
.darkCity {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  list-style-type: none;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
}

.darkCity {
  color: #FFFFFF;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}