.headerWrapper,
.darkHeaderWrapper {
  display: flex;
  align-items: flex-end;
  width: 414px;
  height: 119px;
  position: fixed;
  top: -0px;
}

.headerWrapper {
  background-color: #FFF;
}

.darkHeaderWrapper {
  background-color: #333333;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 414px;
  height: 60px;
  padding: 0 24px;

}

.iconButton,
.darkIconButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
}

.iconButton {
  background-color: white;
}

.darkIconButton {
  background-color: #333333;
}

.wrapperButtons {
  display: flex;
  gap: 5px;
}

.title,
.darkTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}

.darkTitle {
  color: #FFF;
}

.button,
.darkButton {
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.button {
  background-color: #FFF;
  border-bottom: 1px solid #000000;
}

.darkButton {
  background-color: #333333;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

.resultButton,
.darkResultButton {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: none;
}

.resultButton {
  background-color: #FFF;
}

.darkResultButton {
  background-color: #333333;
}

.curcle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #EB5757;
  position: fixed;
  top: 68px;
  left: 366px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

.fake {
  width: 40px;
}